@model Tournament.Models.Tournament.TournamentBindingModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Create</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(t => t.Name)
        @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Teams)

        @Html.ListBoxFor(m => m.Selected, Model.Teams, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.Selected)
    </div>

    @Html.AntiForgeryToken()
    <button type="submit" class="btn bg-primary">Save</button>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}