@model Tournament.Models.Dto.TeamBindingModel
@{
    ViewBag.Title = "MapFromTeamTpDto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MapFromTeamTpDto</h2>
@using (Html.BeginForm("CreateNew", "Team"))
{
    <div class="form-group">
        @Html.LabelFor(t => t.Name)
        @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Name)
    </div>

    @Html.AntiForgeryToken()
    <button type="submit" class="btn bg-primary">Save</button>
}
@section scripts{
    @*for client-side validation*@
    @Scripts.Render("~/bundles/jqueryval");
}
